<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="robots" content="noodp,index,follow" />
       <meta name="keywords" content="pizza, pizza template, html template, table booking">
      <meta name='revisit-after' content='1 days' />
      <meta name="description" content="pizza table booking restaurant">
      <title>Book a Table</title>
      <link rel="icon" href="images/favicon.png" type="image/x-icon" />
      <!-- <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> -->
      <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
      <link href='../../maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
      <!-- <link href='../../maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet' type='text/css' /> -->
      <!-- <link href='css/owl.css' rel='stylesheet' type='text/css' /> -->
      <link href='css/styles.css' rel='stylesheet' type='text/css' />
      <script src="../../code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- <link rel="stylesheet" type="text/css" href="css/css-star-rating.css" /> -->
      <!-- <link rel="stylesheet" href="css/bootstrap-spinner.css"> -->
      <!-- <script src="js/jquery.spinner.js"></script> -->
      <script src="js/jquery-ui.min.js"></script>
      <!-- <script src="js/jquery-ui-timepicker-addon.js"></script> -->
      <!-- <script src="js/jquery-ui-timepicker-addon-i18n.min.js"></script> -->
      <!-- <script src="js/option-selectors.js"></script> -->
      <!-- <script src="js/owl.carousel.js"></script> -->
      <!-- <link rel="stylesheet" media="all" type="text/css" href="css/jquery-ui.css" /> -->
      <!-- <link rel="stylesheet" media="all" type="text/css" href="css/jquery-ui-timepicker-addon.css" /> -->
      <link href='css/responsive.css' rel='stylesheet' type='text/css' />
      <!-- <script src="js/jquery-litelighter.js"></script> -->
      <!-- <script src="js/jquery-rebox.js"></script> -->
      <!-- <style>
         .gallery {
         float: left;
         width: 100%;}
         .gallery img {
         width: 100%;
         }
      </style> -->
      <!-- <link rel="stylesheet" media="all" type="text/css" href="css/jquery-rebox.css" /> -->
      <script src="js/main.js"></script>
   </head>
   <body>
	 <!-- Start Book Content -->
      <div class="book-content">
         <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
			<!-- Start Booking -->
               <div class="booking">
                  <h2>Select Seat</h2>
               </div>
               <div class="row note">
                  <div class="col-md-2 col-sm-4 col-xs-4">
                     <h2>Available Seat</h2>
                     <div class="available">1</div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-4">
                     <h2>Booked Seat</h2>
                     <div class="booked">1</div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-4">
                     <h2>Selected Seat</h2>
                     <div class="selected-seat">1</div>
                  </div>
               </div>
               <div class="model">
                  <div class="col-md-2 col-sm-6 col-xs-6 column1">
                     <div class="table-A">
                        <div class="chart-left">
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                           <div class="chart1">5
                           </div>
                           <div class="chart1">7
                           </div>
                        </div>
                        <div class="name-table">
                           <h2>A</h2>
                        </div>
                        <div class="chart-right">
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                           <div class="chart1">6
                           </div>
                           <div class="chart1">8
                           </div>
                        </div>
                     </div>
                     <div class="table-B">
                        <div class="chart-left">
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                           <div class="chart1 booked-color">5
                           </div>
                           <div class="chart1 booked-color">7
                           </div>
                        </div>
                        <div class="name-table">
                           <h2>B</h2>
                        </div>
                        <div class="chart-right">
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                           <div class="chart1 booked-color">6
                           </div>
                           <div class="chart1 booked-color">8
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6 column2">
                     <div class="table-CD">
                        <div class="chart-left">
                           <div class="chart1 selected-color">1
                           </div>
                           <div class="chart1 selected-color">3
                           </div>
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                        </div>
                        <div class="table-double">
                           <div class="table-double1">C</div>
                           <div class="table-double2">D</div>
                        </div>
                        <div class="chart-right">
                           <div class="chart1 selected-color">2
                           </div>
                           <div class="chart1 selected-color">4
                           </div>
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                        </div>
                     </div>
                     <div class="table-EF">
                        <div class="chart-left">
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                        </div>
                        <div class="table-double">
                           <div class="table-double1">E</div>
                           <div class="table-double2">F</div>
                        </div>
                        <div class="chart-right">
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12 door ">
                     <img class="img-responsive img-door" src="images/door.png" alt="door"/>
                     <button>Reception</button>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6 column3">
                     <div class="table-GH">
                        <div class="chart-left">
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                        </div>
                        <div class="table-double">
                           <div class="table-double1">G</div>
                           <div class="table-double2">H</div>
                        </div>
                        <div class="chart-right">
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                        </div>
                     </div>
                     <div class="table-IJ">
                        <div class="chart-left">
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                           <div class="chart1">1
                           </div>
                           <div class="chart1 available-color">3
                           </div>
                        </div>
                        <div class="table-double">
                           <div class="table-double1">I</div>
                           <div class="table-double2">J</div>
                        </div>
                        <div class="chart-right">
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                           <div class="chart1">2
                           </div>
                           <div class="chart1 available-color">4
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6 column4">
                     <div class="table-K">
                        <div class="chart-left">
                           <div class="chart1 booked-color">1
                           </div>
                           <div class="chart1 booked-color">3
                           </div>
                           <div class="chart1 booked-color">5
                           </div>
                           <div class="chart1 booked-color">7
                           </div>
                        </div>
                        <div class="name-table">
                           <h2>K</h2>
                        </div>
                        <div class="chart-right">
                           <div class="chart1 booked-color">2
                           </div>
                           <div class="chart1 booked-color">4
                           </div>
                           <div class="chart1 booked-color">6
                           </div>
                           <div class="chart1 booked-color">8
                           </div>
                        </div>
                     </div>
                     <div class="table-L">
                        <div class="chart-left">
                           <div class="chart1">1
                           </div>
                           <div class="chart1">3
                           </div>
                           <div class="chart1">5
                           </div>
                           <div class="chart1">7
                           </div>
                        </div>
                        <div class="name-table">
                           <h2>L</h2>
                        </div>
                        <div class="chart-right">
                           <div class="chart1">2
                           </div>
                           <div class="chart1">4
                           </div>
                           <div class="chart1">6
                           </div>
                           <div class="chart1">8
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            <!-- End Booking -->

            </div>

         </div>
      </div>
	 <!-- End Book Content -->

   </body>


</html>
